.footer {
  background-color: var(--header-background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer__nav__menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 2;
  text-decoration: none;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  padding: 5px;
  line-height: 2;
}

.footer__menu__item {
  font-size: 20px;
  font-family: var(--font-for-title);
  text-decoration: none;
  color: var(--menu-color);
}

.footer__menu__item:hover {
  color: var(--hover-color);
}

.footer__logo {
  display: flex;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--menu-color);
  font-family: var(--font-for-logo);
}

.footer__line {
  border: none;
  border-top: 2px solid var(--line-color);
  width: 100%;
  margin: 5px 0;
  color: var(--header-background-color);
}

.footer__rigths {
  color: var(--header-description);
  font-size: 16px;
  font-family: var(--font-for-desriptions);
  flex-direction: column;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  text-align: center;
}

.Footer__Newsletter {
  display: flex;
  flex-direction: column;
}

.footer__newsletter__label {
  font-size: 21px;
  font-family: var(--font-for-desriptions);
  margin-left: 0px;
  margin-bottom: 7px;
  color: var(--newsletter-color);
  font-weight: 500;
}

.newsletter__email {
  background-color: var(--color-for-newsletter);
  border: 1px solid var(--color-for-newsletter);
  border-bottom-color: var(--hover-color);
  min-width: 270px;
  margin-bottom: 0;
  padding: 0 40px 8px 10px;
  font-size: 15px;
  font-family: var(--font-for-buttons);
  position: relative;
}

.newsletter__submit {
  background-color: var(--menu-color);
  color: var(--button-color);
  border: none;
  padding: 9px 17px;
  font-size: 17px;
  font-family: var(--font-for-buttons);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 55px;
  margin-right: 55px;
}

.newsletter__submit:hover {
  background-color: var(--hover-color);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.footer__contacts__title{
  font-size: 27px;
  font-family: var(--font-for-title);
}

.contacts__item{
  text-decoration: none;
  font-size: 18px;
  font-family: var(--font-for-desriptions);
  color: var(--header-description);
}

.contacts__list{
  list-style: none;
}
@media (min-width: 701px) {
  .footer__nav__menu {
    flex-direction: row;
  }

  .footer__menu {
    align-items: center;
    flex-direction: row;
    gap: 20px;
  }

  .footer__logo {
    margin-right: 20px;
  }

  .footer__menu__item{
    margin-left: 30px;
    margin-right: 30px;
  }

  .footer__form__contacts{
    display: flex;
    flex-direction: row;
  }

  .footer__contacts{
    margin-left: 20px;
    margin-top: 5px;
  }

  .Footer__Newsletter{
    margin-right: 157px;
  }

  .footer__rigths{
    display: flex;
    flex-direction: row;
  }

.rights__author{
  margin-right: 300px;
  padding-right: 20px;
}

.rights__reserved{
  margin-left: 300px;
  padding-right: 20px;
}

  .footer__line{
    margin: 20px 0;
  }
}
