* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1230px;
    margin: 0 auto;
    position: relative;
  }

  :root {
 --background-color: #712AD4;
 --font-color: #F2E5D3;
  }

