@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1230px;
  margin: 0 auto;
  position: relative;
  background-color: var(--header-background-color);
}

:root {
  --header-background-color: #f8f8f8;
  --menu-color: #333;
  --hover-color: #b260fb;
  --line-color: #ccc;
  --header-description: #777676;
  --button-color: #fff;
  --menu-mobile-background: #e9d6fc;
  --font-for-logo: "Yeseva One";
  --font-for-title: "Hammersmith One";
  --font-for-desriptions: "Outfit";
  --font-for-buttons: "Platypi";
}
