@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1230px;
  margin: auto;
  position: relative;
  background-color: var(--header-background-color);
}

:root {
  --header-background-color: #f8f8f8;
  --menu-color: #333;
  --hover-color: #b260fb;
  --line-color: #ccc;
  --header-description: #777676;
  --button-color: #fff;
  --submit-color: #28a745;
  --undo-color: #dc3545;
  --menu-mobile-background: #e9d6fc;
  --newsletter-color: #7347aa;
  --card-background-color: #f9f9f9;
  --color-for-newsletter: rgba(0, 0, 0, 0);
  --font-for-logo: "Yeseva One";
  --font-for-title: "Hammersmith One";
  --font-for-desriptions: "Outfit";
  --font-for-buttons: "Platypi";
}

.products,
.shop__header__menu {
  background-color: var(--header-background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.shop__line {
  border: none;
  border-top: 2px solid var(--line-color);
  width: 100%;
  margin: 5px 0;
  color: var(--header-background-color);
}

.burger__menu {
  display: none;
}

.shop__logo {
  display: none;
}

.shop {
  background-color: var(--header-background-color);
  padding: 30px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.header__nav__menu {
  display: flex;
}

.shop__menu {
  display: flex;
  align-items: center;
  gap: 70px;
}

.shop__menu__item {
  font-size: 20px;
  font-family: var(--font-for-title);
  text-decoration: none;
  color: var(--menu-color);
}

.shop__menu__item:hover {
  color: var(--hover-color);
}

.shop__logo__menu {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: var(--menu-color);
  font-family: var(--font-for-logo);
}

.shop__logo__menu:hover {
  color: var(--header-description);
}

.products {
  padding: 20px;
}

.products__title {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: var(--font-for-title);
  font-weight: 100;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  background-color: var(--card-background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--menu-color);
  padding: 20px;
  transition: transform 0.3s ease;
  margin: 0;
  margin-top: 20px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  max-width: 100%;
  border-radius: 8px;
}

.product-card__h3 {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
  font-family: var(--font-for-title);
  font-weight: 100;
}

.product-card__description {
  font-size: 17px;
  margin-bottom: 10px;
  text-align: center;
  font-family: var(--font-for-desriptions);
  color: var(--header-description);
}

.product__price {
  font-size: 17px;
  margin-bottom: 10px;
  padding-top: 10px;
  font-family: var(--font-for-title);
  font-weight: 600;
}

.product-card__buttons {
  display: flex;
  justify-content: center;
}

.product-card__buttons-buy {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--menu-color);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.product-card__buttons-buy:hover {
  background-color: var(--hover-color);
}

.order__form {
  background-color: var(--header-background-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.form__title {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: var(--font-for-title);
}

.form__item {
  margin-bottom: 15px;
  padding: 10px;
  width: 50%;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  box-sizing: border-box;
  font-family: var(--font-for-desriptions);
}

.form__button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--submit-color);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-for-buttons);
}

.form__button:hover {
  background-color: var(--hover-color);
}

.form__buttons {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.form__button__undo {
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--undo-color);
  color: var(--button-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: var(--font-for-buttons);
}
.form__button__undo:hover {
  background-color: var(--hover-color);
}

@media (max-width: 700px) {
  .product-card {
    width: calc(100% - 20px);
    margin-top: 20px;
    margin-left: 11px;
  }

  .header__nav__menu {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .shop__logo__menu {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: var(--menu-color);
    font-family: var(--font-for-logo);
  }

  .shop__logo {
    display: flex;
    font-size: 23px;
    font-weight: bold;
    text-decoration: none;
    color: var(--menu-color);
    font-family: var(--font-for-logo);
  }

  .shop__logo__burger {
    display: inline-flex;
    gap: 165px;
    padding-top: 10px;
  }

  .shop__menu {
    display: flex;
    flex-direction: column;
    padding: 5px;
    line-height: 2;
    gap: 0;
  }

  .shop__menu__item {
    font-size: 20px;
    text-decoration: none;
    color: var(--menu-color);
  }

  .shop__menu__item:hover {
    color: var(--hover-color);
  }

  .line {
    border: none;
    border-top: 1px solid var(--line-color);
    width: 100%;
    margin: 10px 0;
    height: 0;
  }

  .header__nav__menu {
    position: fixed;
    background: var(--header-background-color);
    height: 100vh;
    width: 50%;
    right: -100%;
    top: 0;
    z-index: 100;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
  }

  .header__nav__menu.active {
    right: 0;
    width: 100%;
  }

  .burger__menu {
    display: block;
    z-index: 110;
    cursor: pointer;
    margin-top: 5px;
  }

  .burger__menu span {
    display: block;
    width: 28px;
    height: 3px;
    background: var(--menu-color);
    margin-bottom: 5px;
    transition: 0.3s;
  }

  .burger__menu.active span {
    margin: 0;
  }

  .burger__menu.active span:first-child {
    transform: rotate(45deg) translateY(2px);
  }

  .burger__menu.active span:nth-child(2) {
    display: none;
  }

  .burger__menu.active span:last-child {
    transform: rotate(-45deg) translateY(-2px);
  }

  .burger__menu.active {
    position: fixed;
    margin-left: 207px;
  }

  .form__item {
    width: 100%;
  }
}
